
@{
    ViewBag.Title = "GenerateCode";
}

<h2>GenerateCode</h2>

<select id="select">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>
